@import 'https://fonts.googleapis.com/css?family=Vollkorn|Prata';
html,
body {
  height: 100%;
  margin: 0;
  font-family: Vollkorn;
}
a {
  color: #004;
  font-weight: bold;
  text-decoration: none;
}
body {
  background: repeating-linear-gradient(0, #567, #567 1rem, #586878 1rem, #586878 2rem);
}
body > header #cover {
  height: 60vmin;
  min-height: 440px;
}
body > header #catch {
  background: #fff;
  padding: 0.5em;
  border-radius: 2em;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
body > header #catch #publisher {
  font-style: italic;
  margin: 0.5em 0;
}
body > header #catch #publisher time {
  font-weight: bold;
}
main {
  margin: 0 1em;
}
main header {
  font-family: Prata;
  color: #008;
}
main section {
  margin-top: 2em;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding: 0.5em 1em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}
main section > header {
  font-size: 125%;
}
main #author #name {
  font-weight: bold;
  font-size: 120%;
}
main #summary ol.sections,
main #toc ol.sections {
  color: #666;
  list-style-type: upper-roman;
}
main #summary ol.sections > li,
main #toc ol.sections > li {
  margin: 1em 0;
}
main #summary ol.sections > li > header,
main #toc ol.sections > li > header {
  color: #000;
  font-size: 115%;
}
main #summary ol.sections ol.chapters,
main #toc ol.sections ol.chapters {
  padding: 0;
  color: #aaa;
  list-style-type: decimal;
}
main #summary ol.sections ol.chapters header,
main #toc ol.sections ol.chapters header {
  display: inline-block;
  color: #004;
  width: 6em;
}
main #summary ol.sections ol.chapters ol.chapter-sections,
main #toc ol.sections ol.chapters ol.chapter-sections {
  color: #000;
  list-style-type: lower-alpha;
  display: inline-block;
}
main #summary ol.sections ol.chapters ol.chapter-sections li,
main #toc ol.sections ol.chapters ol.chapter-sections li {
  display: inline-block;
}
main #summary ol.sections ol.chapters ol.chapter-sections li:after,
main #toc ol.sections ol.chapters ol.chapter-sections li:after {
  content: "·";
  margin: 0 0.25em;
  color: #888;
}
main #summary ol.sections ol.chapters ol.chapter-sections li:last-child:after,
main #toc ol.sections ol.chapters ol.chapter-sections li:last-child:after {
  content: none;
}
