body > header {
  margin-bottom: 0.5em;
}
#cover {
  text-align: center;
}
#cover img {
  height: 60vmin;
  min-height: 440px;
  box-shadow: 0.25rem 0.25rem 0.5rem #000;
}
#description {
  text-align: center;
  margin: 0.75em 0;
}
#description #title,
#description #publisher {
  font-size: 120%;
}
#description #publisher {
  font-style: italic;
}
#description #cover-explain {
  color: #888;
  font-style: italic;
}
#description #cover-explain a {
  color: #448;
}
main #summary {
  margin-top: 0;
}
main #summary #lead {
  font-size: 120%;
  font-weight: bold;
}
main #summary #preorder {
  text-align: center;
}
main #summary #preorder #main {
  text-align: center;
  font-size: 150%;
}
main .video {
  background: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 560px;
  height: 315px;
}
main .video iframe {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
main #author #name {
  font-weight: bold;
  font-size: 120%;
}
main #toc .sections {
  counter-reset: chapter;
  color: #666;
  list-style-type: upper-roman;
  padding-left: 1em;
}
main #toc .sections > li {
  margin: 1em 0;
}
main #toc .sections > li > header {
  color: #000;
  font-size: 115%;
}
main #toc .sections .chapters {
  padding: 0;
  list-style-type: none;
}
main #toc .sections .chapters > li:before {
  display: inline-block;
  color: #aaa;
  width: 1.5em;
  counter-increment: chapter;
  content: counter(chapter);
}
main #toc .sections .chapters header {
  display: inline-block;
  color: #004;
  width: 6em;
}
main #toc ol.chapter-sections {
  color: #000;
  display: inline-block;
}
main #toc ol.chapter-sections li {
  display: inline-block;
}
main #toc ol.chapter-sections li:after {
  content: "·";
  margin: 0 0.25em;
  color: #888;
}
main #toc ol.chapter-sections li:last-child:after {
  content: none;
}
main #toc ol.chapter-sections.nochapter {
  padding: 0;
}
