@import '//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css';
@import '//fonts.googleapis.com/css?family=Prata|Vollkorn|Simonetta';
html,
body {
  min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Vollkorn;
}
a {
  color: #228;
  font-weight: bold;
  text-decoration: none;
}
aside {
  color: #888;
}
aside::before {
  content: '(';
}
aside::after {
  content: ')';
}
body {
  background: repeating-linear-gradient(0deg, rgba(255,255,128,0.063), rgba(255,255,128,0.063) 0.5rem, rgba(0,0,0,0) 0.5rem, rgba(0,0,0,0) 1rem), linear-gradient(#abd, #8af);
}
body > header {
  text-align: center;
  margin-bottom: 1em;
}
body > header > nav {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
body > header > nav a {
  font-family: Prata;
  margin: 0 1em;
  color: #004;
}
body > header > nav a > img {
  width: 1.35em;
  height: 1.35em;
  margin-bottom: -0.15em;
}
body > header > nav .fa {
  font-size: 135%;
  margin: 0;
}
main {
  margin: 0 1em;
}
main header {
  font-family: Prata;
  color: #008;
}
main section {
  margin-top: 2em;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(#fffff8, #e8f8ff) fixed;
  padding: 0.5em 1em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}
main section > header {
  font-size: 125%;
}
main section:first-child {
  margin-top: 0;
}
