.talk {
  margin: 1em 0;
}
.talk .event {
  font-family: Prata;
  display: inline-block;
}
.talk .event a {
  color: #44f;
}
.talk .place {
  display: inline-block;
  color: #888;
}
.talk .place::before {
  content: ", ";
}
.talk time {
  display: block;
  color: #444;
}
