extends _layout
block head
	title Articles about The Age of Em
	link(rel='stylesheet' href='style/articles.css')
block content
	section
		// Keep this one first, others sorted most recent -> least recent
		.article
			a.title(href='//hanson.gmu.edu/uploads.html').
				If Uploads Come First
			.publisher Extropy 6:2
				.pages 10-15
			time 1994
			div The book is an elaboration of this article.
		hr

		.article
			.title 3 Scenarios: Ems, Nanotech, Both
			.publisher Cryonics
				.pages 38(4):18,19
			time 2017 July

		.article
			.title Response To Michael Perry’s “Age of Emp”
			.publisher Cryonics
				.pages 38(4):31,32
			time 2017 July

		.article
			a.title(href='//spectrum.ieee.org/computing/software/humanlevel-ai-is-right-around-the-corner-or-hundreds-of-years-away#RobinHanson')
				The Future according to Robin Hanson
			.publisher IEEE Spectrum
				.pages 24
			time 2017 June

		.article
			a.title(href='//spectrum.ieee.org/computing/software/humanlevel-ai-is-right-around-the-corner-or-hundreds-of-years-away')
				Human-Level AI Is Right Around the Corner—or Hundreds of Years Away
			.publisher IEEE Spectrum
			time 2017 May 31

		.article
			a.title(href='//hanson.gmu.edu/EmFutureEmploymentChapter.pdf').
				Employment In The Age of Em: Simulated Brains and the Economics of Labor
			.publisher Surviving the Machine Age: Intelligent Technology and the Transformation of Human Work
			.editor Kevin LaGrandeur, James Hughes, Palgrave
			time 2017 April

		.article
			a.title(href='//hanson.gmu.edu/HumanLegacies.html').
				Human Legacies When Robots Rule the Earth
			.publisher The Next Step: Exponential Life
				.pages 162-177
			.editor BBVA, Turner
			time 2016 December

		.article
			a.title(href='//anglejournal.com/article/2015-06-brain-emulation-economies-the-next-stage-of-human-development/').
				The "Em" Economy: Imagine a future dominated by brain emulation robots
			.publisher Angle Journal 13
			time 2015 June 22

		.article
			a.title(href='//hanson.gmu.edu/GoertzelBookChapter.pdf').
				A Tale Of Two Transitions, in The End of the Beginning: Life, Society and Economy on the Brink of the Singularity
			.publisher Humanity+ Press
				.pages 70-80
			.editor Ben Goertzel, Ted Goertzel
			time 2015 May 15

		.article
			a.title(href='//hanson.gmu.edu/IntelligenceUnbound.pdf').
				What Will It Be Like To Be An Emulation?
			.publisher Intelligence Unbound: The Future of Uploaded and Machine Minds, Wiley
				.pages 298-309
			.editor Russell Blackford, Damien Broderick
			time 2014 Aug 18

		.article
			a.title(href='//hanson.gmu.edu/Futurist.pdf').
				When the Economy Transcends Humanity
			.publisher The Futurist
			time 2014 Jan-Feb

		.article
			a.title(href='//hanson.gmu.edu/EconOfBrainEmulations.pdf').
				Economics of Brain Emulations, Unnatrual Selection — The Challenges of Engineering Tomorrow's People
			.publisher EarthScan, London
				.pages 150-158
			.editor Peter Healey and Steve Rayner
			time 2008 Dec

		.article
			a.title(href='//hanson.gmu.edu/IEEESpectrum-6-08.pdf').
				Economics of the Singularity
			.publisher IEEE Spectrum
				.pages 37-42
			time 2008 June
			aside Reprinted as: A New World Order, Cosmos 26:47-54, 2009 Apr/May.

		.article
			a.title(href='//hanson.gmu.edu/bigthing.pdf').
				The Next Really Big Enormous Thing
			.publisher Future Brief
			time 2004 Oct 6
