extends _layout
block head
	title Blurbs about The Age of Em
	link(rel='stylesheet' href='style/blurbs.css')
block content
	section
		header Blurbs
		.blurb
			blockquote Robin Hanson brings intelligence, imagination, and courage to some of the most profound questions humanity will be dealing with in the middle-term future. #[cite The Age of Em] is a stimulating and unique book that will be valuable to anyone who wants to look past the next ten years to the next hundred and the next thousand.
			.who
				.name
					a(href='//preposterousuniverse.com/self.html') Sean Carroll
				.desc Professor of Physics, California Institute of Technology, author of #[cite The Big Picture: On the Origins of Life, Meaning, and the Universe Itself]
		.blurb
			blockquote What happens when a first-rate economist applies his rigor, breadth, and curiosity to the sci-fi topic of whole brain emulations? This book is what happens. There's nothing else like it, and it will blow your (current) mind.
			.who
				.name
					a(href='//andrewmcafee.org') Andrew McAfee
				.desc Professor of Business, Massachusetts Institute of Technology, coauthor of #[cite The Second Machine Age]
		.blurb
			blockquote A highly provocative vision of a technologically advanced future that may or may not come true /home/koro but if it does, we'll be glad Robin wrote this book now.
			.who
				.name 
					a(href='//wikipedia.org/wiki/Marc_Andreessen') Marc Andreessen
				.desc cofounder of #[cite Netscape] and #[cite Andreessen Horowitz]
		.blurb
			blockquote In this brilliant analysis, Robin Hanson shows that our hyper-smart `downloaded’ – or emulated – heirs will still have ambitions, triumphs and thwarted desires. They'll make alliances, compete, cooperate… and very-likely love… all driven by immutable laws of nature and economics. Super intelligence may be a lot more like us than you imagined.
			.who
				.name
					a(href='//www.davidbrin.com') David Brin
				.desc Two times #[cite Hugo] award winner, author of #[cite Existence] and #[cite The Transparent Society]
		.blurb
			blockquote Robin Hanson provides a richly detailed portrait of a future society where brain emulation is widespread. Drawing on physics, economics, sociology, history, and a host of other disciplines, he describes a world that is wonderfully strange and yet strikingly familiar. Far out? Yes. Fascinating? That too.
			.who
				.name
					a(href='//people.ischool.berkeley.edu/~hal') Hal Varian
				.desc Emeritus Professor of Economics, U.C. Berkeley, chief economist at #[cite Google]
		.blurb
			blockquote A fascinating thought experiment about the future, written with clarity and verve by somebody who thinks very deeply and freely.
			.who
				.name
					a(href='//mattridley.co.uk') Matt Ridley
				.desc columnist at #[cite The Times], author of #[cite The Evolution of Everything]
		.blurb
			blockquote Robin Hanson is one of the most important and original thinkers. His new tour de force will dazzle and delight you. Anyone who loves books should read #[cite The Age of Em].
			.who
				.name
					a(href='//gmu.edu/centers/publicchoice/faculty%20pages/Tyler') Tyler Cowen
				.desc Professor of Economics, George Mason University, columnist at the #[cite New York Times], author of #[cite The Great Stagnation]
		.blurb
			blockquote Robin Hanson has a remarkable mind and has written a remarkable book. He provides an encyclopedically-detailed analysis of a fascinating future dominated by brain emulations. Whether you agree or disagree with each of his specific predictions, each page will entice you to think more deeply.
			.who
				.name
					a(href='//ebusiness.mit.edu/erik') Erik Brynjolfsson
				.desc Professor of Business, Massachusetts Institute of Technology, coauthor of #[cite The Second Machine Age]
		.blurb
			blockquote There are different paths to the Technological Singularity. In #[cite The Age of Em] Robin Hanson explores one such possibility using methods and insight that all analysts of future technology can admire. With this book, Hanson owns the Em scenario. He casts a very bright light upon foothills of the Unknowable.
			.who
				.name
					a(href='//wikipedia.org/wiki/Vernor_Vinge') Vernor Vinge
				.desc five times #[cite Hugo] award winner, author of #[cite Rainbow’s End] and #[cite A Fire Upon The Deep]
		.blurb
			blockquote Here we have a systematic attempt to envisage what could well be the next technological disruption of the human condition: a world after the ‘anthropocene’ which does not conform to the usual ecological scenarios. Drawing on current social and natural sciences, as well as artificial intelligence research, Robin Hanson envisages a future in which human beings are neither notably enhanced nor completely exterminated. Rather, we live in the margins of a world dominated by beings which will have been created from uploaded emulations of a selection of human brains. Hanson tackles all the issues that arise along the way: how the transition might happen and what will the world look like – both to us and to the ‘ems’ – on the other side of this great disruption. The reader does not need to agree with all the judgement calls in this expressly speculative enterprise to appreciate the great strides that Hanson has taken in specifying a world in which humans still flourish yet are no longer in the driver’s seat of epochal change. That his vision is ultimately a relatively benign one is an added bonus.
			.who
				.name
					a(href='//wikipedia.org/wiki/Steve_Fuller_(sociologist)') Steve Fuller
				.desc Auguste Comte Chair in Social Epistemology, University of Warwick, author of #[cite Humanity 2.0]
		.blurb
			blockquote Robin Hanson is the most brilliant mind I know, and the wait for his first book is finally over. #[cite The Age of Em] combines Hanson’s expertise in social science and artificial intelligence to paint a stunning vision of the future of intelligent life. The result is a noble effort to subordinate science fiction to science.
			.who
				.name
					a(href='//bcaplan.com') Bryan Caplan
				.desc Professor of Economics, George Mason University, author of #[cite The Myth of the Rational Voter]
		.blurb
			blockquote Robin Hanson integrates ferocious future forces: robotics, artificial intelligence, overpopulation, economic stagnation – and comes up with a detailed, striking of futures we can have, if we think harder. There's many an idea in this deft book, worth the time of anyone who thinks forward with hope.
			.who
				.name
					a(href='//gregorybenford.com') Gregory Benford
				.desc two time #[cite Nebula] award winner, author of #[cite Timescape]
		.blurb
			blockquote Hanson is pioneering a new style of science fiction: using calculations rather than mere stories to imagine what a world of artificial humans would be like.
			.who
				.name
					a(href='//kk.org') Kevin Kelly
				.desc founder of #[cite Wired] magazine, author of #[cite The Inevitable: Understanding the 12 Technological Forces That Will Shape Our Future]
		.blurb
			blockquote #[cite Age of Em] is a rare wonder: a book both fully intellectually rigorous, and boldly embracing of the radical possibilities the future holds. Hanson focuses his acute analytical mind on future scenarios in which most humans are digital 'brain emulations' rather than biological humans. He shows that many aspects of this sort of world can be understood fairly effectively by us old-fashioned biological humans right now, using tools from economics, logic, psychology, sociology and other disciplines. The result is a tour de force at the intersection of imagination and rationality. Far more clearly than from any work of mere science fiction, one gleans from Hanson's book a clear idea of what a future world dominated by brain emulations or 'Ems' might actually be like.
			.who
				.name
					a(href='//goertzel.org') Ben Goertzel
				.desc Chief Scientist at #[cite Aidyia Holdings] and #[cite Hanson Robotics], founder of #[cite AGI Society] and #[cite OpenCog Foundation]
		.blurb
			blockquote Robin Hanson is one of the most original thinkers in the world - and this fascinating account of our future society is like nothing you'll read anywhere else. Astonishing stuff.
			.who
				.name
					a(href='//timharford.com') Tim Harford
				.desc columnist at #[cite Financial Times], author of #[cite The Undercover Economist Strikes Back]
		.blurb
			blockquote #[cite The Age of Em] is a fascinating and provocative book about a future that will blindside most humans – but that could easily be the world that most of our descendants inhabit. Robin Hanson has a unique combination of expertise in artificial intelligence. economics, signaling, and futurology. Nobody else could have explored the implications of whole-brain emulation in such visionary yet plausible detail. It's one of the most important books you'll ever read.
			.who
				.name
					a(href='//psych.unm.edu/people/directory-profiles/geoffrey-miller.html') Geoffrey Miller
				.desc Professor of Psychology, University of New Mexico, author of #[cite The Mating Mind], #[cite Spent], and #[cite Mate].
		.blurb
			blockquote Most futurism is remarkable chiefly for its lack of imagination. #[cite The Age of Em] is that rare book that pushes the boundaries of our understanding of what is possible.
			.who
				.name
					a(href='//oreilly.com/tim') Tim O'Reilly
				.desc founder and CEO of #[cite= "O'Reilly Media"]
		.blurb
			blockquote Robin Hanson is a thinker like no other on this planet: someone so unconstrained by convention, so unflinching in spelling out the consequences of ideas, that even the most cosmopolitan reader is likely to find him as bracing (and head-clearing) as a mouthful of wasabi. Now, in #[cite The Age of Em], he's produced the quintessential Hansonian book, one unlike any other that's ever been written. Hanson is emphatic that he hasn't optimized in any way for telling a good story, or for imparting moral lessons about the present: only for maximizing the probability that what he writes will be relevant to the actual future of our civilization. Early in the book, Hanson estimates that probability as 10%. His figure seems about right to me – and if you're able to understand why that's unbelievably high praise, then #[cite The Age of Em] is for you.
			.who
				.name
					a(href='//scottaaronson.com') Scott Aaronson
				.desc Professor of Computer Science, MIT, author of #[cite Quantum Computing since Democritus]
		.blurb
			blockquote Humanity has long dreamt of transcending this material plane. Hanson looks at the economics of future existence in digital form, as minds running on computer hardware. What he finds is neither heaven nor hell, but a form of existence that is utterly surprising, both familiar and alien. Carefully reasoned, thoroughly researched, and incisively argued, this book will change the way you look at our uploaded future, and the entire concept of the Singularity.
			.who
				.name
					a(href='//rameznaam.com') Ramez Naam
				.desc author of #[cite Nexus] and #[cite The Infinite Resource]
		.blurb
			blockquote Hanson takes a few simple assumptions and relentlessly follows their implications to paint a fascinating and chillingly plausible posthuman future, realised in fractal-like detail. A tour de force of rigorous speculation that draws equally upon physics, economics and neuroscience, every page of The #[cite Age of Em] brims with fascinating ideas.
			.who
				.name
					a(href='//wikipedia.org/wiki/Hannu_Rajaniemi') Hannu Rajaniemi
				.desc author of #[cite The Quantum Thief]
		.blurb
			blockquote Thinkers who write about the far-future tend to care more about telling a good story than about getting the facts right. Robin Hanson is an exception to this generalization. Over the past decade, he has used our best scientific models of the world and ourselves to predict how our descendants will organize their lives a hundred years from now. The result of this effort is the book you hold in your hands—a work of rare originality, insight, and importance.
			.who
				.name
					a(href='//williammacaskill.com') William MacAskill
				.desc Professor of Philosophy, Oxford University, author of #[cite Doing Good Better]
		.blurb
			blockquote What happens when artificial intelligence does become a perfect substitute for natural intelligence? We could easily be 100 years or more from that scenario but my foresighted colleague, Robin Hanson, has a new book #[cite The Age of Em] that discusses the implications of uploads, human intelligence copied into software—Hanson’s book is the most complete and serious scenario analysis of the implications of a new technology ever written but most of us won’t live long enough to know whether he is right.
			.who
				.name
					a(href='//marginalrevolution.com/marginalrevolution/2016/04/will-the-proliferation-of-affordable-ai-decimate-the-middle-class') Alex Tabarrok
				.desc Professor of Economics, George Mason University, author of #[cite Launching the Innovation Renaissance]

		.blurb
			blockquote A straightforward extrapolation from standard economic premises that I think are too conservative, to results that most readers will think are wildly futuristic. Personally, I'd be shocked to see the future turn out this normal. But anyone who believes in standard economic theory and the computability of human intelligence would need to do a lot of fast talking to explain why the future wouldn't be at least this strange.
			.who
				.name
					a(href='//yudkowsky.net') Eliezer Yudkowsky
				.desc Research Fellow, Machine Intelligence Research Institute, author of #[cite Harry Potter and the Methods of Rationality]
		.blurb
			blockquote #[cite Age of Em] should be required reading for anyone writing about what happens once the mind leaves the skull. For most books about the future, you can skip the latter two thirds of every chapter. Dr. Hanson's book is so thick with ideas and insights, you'll take your time over each page.
			.who
				.name
					a(href='//smbc-comics.com') Zach Weinersmith
				.desc creator of #[cite Saturday Morning Breakfast Cereal]
		.blurb
			blockquote The best way to predict the future may be to create it, but to create it you first must study it. Read this book!
			.who
				.name
					a(href='//rfreitas.com') Robert Freitas
				.desc author of #[cite Nanomedicine]
		.blurb
			blockquote I have known Robin Hanson since he was a graduate student at CalTech, and he has always been an original thinker. Hanson notes how little of science fiction makes sense because even stories where the physics is mostly right get the economics laughably wrong. In the nonfiction #[cite Age of Em], Hanson honors the physics and the likely future economics of emulated minds. Students of AI, virtual reality, economics, and science can benefit in multiple ways from this extraordinary work of thoughtful and courageous technological forecasting.
			.who
				.name
					a(href='//singularityu.org/bio/neil-jacobstein') Neil Jacobstein
				.desc Chair, AI and Robotics, Singularity University at NASA Research Park, Mountain View CA

		.blurb
			blockquote Hanson puts Nostradamus to shame, foretelling humans moving from flesh and blood to abstract immortal “emulations”, computer programs made of bits, our civilization uploading to gigahertz processors exchanging gigabytes 24/7.
			.who
				.name
					a(href='//merkle.com') Ralph Merkle
				.desc co-inventor of public key cryptography
		.blurb
			blockquote Human life is already substantially entwined with computing machinery. It is not too soon to think about this trend's logical conclusion: human brains directly emulated in computers. #[cite The Age of Em] draws upon a vast array of knowledge from the natural and social sciences to paint an extremely detailed picture of the world of our silicon descendants, who will run at different clock speeds and copy themselves at will. `Ems’ will be cultural conservatives who barely make a living and use profanity. They will routinely mock us.
			.who
				.name
					a(href='//chwe.net/michael') Michael Chwe
				.desc Professor of Political Science, UCLA, author of #[cite Jane Austen, Game Theorist]
