include _chapters

extends _layout
block head
	title The Age of Em, A Book
	link(rel='stylesheet' href='style/index.css')
block content
	#cover
		a(href='cover.jpg') #[img(title='Cover' src='cover.jpg')]

	#description
		#title.
			The Age of Em: Work, Love and Life when Robots Rule the Earth
		#publisher
			a(href='//ukcatalogue.oup.com/product/9780198754626.do') Oxford University Press
			= ', '
			time 1 June 2016
		#cover-explain.
			(See #[a(href='cover_full.pdf') full cover]. Cover image:
			#[a(href='//www.framebox.com/creations/habitat') Habitat]
			by Till Nowak)

	section#summary
		p #[span#lead Robots may one day rule the world], but what is a robot-ruled Earth like?
		p.
			Many think the first truly smart robots will be brain emulations or #[b ems].
			Scan a human brain, then run a model with the same connections on a fast computer,
			and you have a robot brain, but recognizably human.
		p.
			Train an em to do some job and copy it a million times:
			an army of workers is at your disposal.
			When they can be made cheaply, within perhaps a century,
			ems will displace humans in most jobs.
			In this new economic era, the world economy may double in size every few weeks.
		p.
			Some say we can't know the future,
			especially following such a disruptive new technology,
			but Professor Robin Hanson sets out to prove them wrong.
			Applying decades of expertise in physics, computer science, and economics,
			he uses standard theories to paint a detailed picture of a world dominated by ems.
		p.
			While human lives don't change greatly in the em era,
			em lives are as different from ours as our lives are from those of our farmer and forager ancestors.
			Ems make us question common assumptions of moral progress,
			because they reject many of the values we hold dear.
		p.
			Read about em mind speeds, body sizes, job training and career paths,
			energy use and cooling infrastructure, virtual reality, aging and retirement,
			death and immortality, security, wealth inequality, religion, teleportation, identity, cities,
			politics, law, war, status, friendship and love.
		p.
			This book shows you just how strange your descendants may be,
			though ems are no stranger than we would appear to our ancestors.
			To most ems, it seems good to be an em.

		#preorder
			#main
				a(href='#{amazonUrl}') Preorder on Amazon
			div Also on #[a(href='#{kindleUrl}') Kindle], #[a(href='#{barnesUrl}') Barnes & Noble], and #[a(href='#{oupUrl}') Oxford University Press]
			div.
				An #[a(href='//audible.com') Audible] version is coming.

	section.video
		iframe(frameborder=0 allowfullscreen src='//www.youtube.com/embed/9qcIsjrHENU')

	p.video-intro And here is a longer, more recent talk.

	section.video
		iframe(frameborder=0 allowfullscreen src='//www.youtube.com/embed/XP-p-O200jo')

	section#author
		p.
			#[a#name(href='//robinhanson.com') Robin Hanson] is associate professor of economics at
			#[a(href='//gmu.edu') George Mason University],
			and research associate at the
			#[a(href='//www.fhi.ox.ac.uk') Future of Humanity Institute] of Oxford University.
			He has a doctorate in social science from
			#[a(href='//caltech.edu') California Institute of Technology],
			master's degrees in physics and philosophy from the
			#[a(href='//uchicago.edu') University of Chicago],
			and nine years experience as a research programmer, at
			#[a(href='//lockheedmartin.com') Lockheed] and #[a(href='//nasa.gov') NASA].
			He has 3100 citations, 60 publications, 420 media mentions,
			and he blogs at #[a(href='//overcomingbias.com') OvercomingBias].
		p More on Prof. Hanson #[a(href='//hanson.gmu.edu/bio') here].

	section#toc
		header Table of Contents
		+chapters()
