extends _layout
block head
	title Media about The Age of Em
	link(rel='stylesheet' href='style/media.css')
block content
	section
		header Media about The Age of Em
		.media
			.title
				a(href='//trendfollowing.com/2016/06/23/ep-461-robin-hanson-interview-michael-covel-trend-following-radio') Robin Hanson interview with Michael Covel
			.who Michael Covel
			.publication Trend Following
			time 2016 June 23
		.media
			.title
				a(href='//blogs.scientificamerican.com/cross-check/when-simulations-replace-reality-q-a-with-robin-hanson-big-ideas-guy') When Simulations Replace Reality: Q&A with Robin Hanson, Big-Ideas Guy: Economist envisions a world run by digital "emulations" of humans.
			.who John Horgan
			.publication Scientific American
			time 2016 June 21
		.media
			.title
				a(href='//youtube.com/watch?v=hJYlgqpiwrk') The Age of Em — Arriving at a Preferred Future — with Robin Hanson
			.author Adam Ford
			.publication Science, Technology, and the Future
			time 2016 June 16
		.media
			.title
				a(href='//economicsdetective.com/2016/06/age-em-whole-brain-emulation-humanitys-future-robin-hanson') The Age of Em, Whole Brain Emulation, and Humanity’s Future with Robin Hanson
			.author Garrett Petersen
			.publication The Economics Detective
			time 2016 June 14
		.media
			.title
				a(href='//aei.org/publication/what-happens-when-robots-rule-the-earth-a-qa-with-robin-hanson-on-the-age-of-em') What happens when robots rule the earth? A Q&A with Robin Hanson on ‘The Age of Em’
			.author James Pethokoukis
			.publication AEIdeas
			time 2016 June 14
		.media
			.title
				a(href='//heise.de/tr/artikel/Wenn-die-Rechner-regieren-3237115.html') Wenn die Rechner regieren
			.author Sascha Mattke
			.publication Technology Review
			time 2016 June 14
		.media
			.title
				a(href='//newyorker.com/books/joshua-rothman/what-are-the-odds-we-are-living-in-a-computer-simulation') What are the odds we are living in a computer simulation?
			.author Joshua Rothman
			.publication The New Yorker
			time 2016 June 9
		.media
			.title
				a(href='//bbc.co.uk/programmes/b07dncfs') Science Cafe
			.author Adam Walton
			.publication BBC Radio Wales
			time 2016 June 7
		.media
			.title
				a(href='//archive.org/details/TheAgeOfEmALightAtTheFoothillsOfTheUnknownPt1WithRobinHanson') The Age of Em — Shining a light at the foothils of the unknown — with Robin Hanson
			.author Adam Ford
			.publication Science, Technology, and the Future
			time 2016 June 3
		.media
			.title
				a(href='//reviewthefuture.com/?p=628') Robin Hanson on `What Does a Future of Emulated Minds Look Like?’
			.author John Perry, Ted Kupper
			.publication Review the Future
			time 2016 June 3
		.media
			.title
				a(href='//reddit.com/r/Futurology/comments/4m1kyn/ama_robin_hanson_author_the_age_of_em') Ask Me Anything
			.author Werner Herzog
			.publication Reddit Futurology
			time 2016 June 2
		.media
			.title
				a(href='//brainpreservation.org/an-interview-of-robin-hanson-on-his-new-book-the-age-of-em') An Interview of Robin Hanson on his new book “The Age of Em”
			.author Michael Cerullo
			.publication Brain Preservation Foundation
			tmie 2016 June 2
		.media
			.title
				a(href='//blog.oup.com/2016/06/artificial-intelligence-oxford-comment') Artificial Intelligence – Episode 35
			.author Sara Levine
			.publication The Oxford Comment
			time 2016 June 2
		.media
			.title
				a(href='//thefutureandyou.libsyn.com/the-future-and-you-june-1-2016') The Future and You
			.author Stephen Cobb
			time 2016 June 1
		.media
			.title
				a(href='//isaacmorehouse.com/2016/05/30/episode-69-robin-hanson-on-the-coming-age-of-robots') Robin Hanson on the Coming Age of Robots
			.author Isaac Morehouse
			time 2016 May 30
		.media
			.title
				a(href='//theguardian.com/commentisfree/2016/may/24/robots-future-work-humans-jobs-leisure') If robots are the future of work, where do humans fit in?
			.author Zoe Williams
			.publication The Guardian
			time 2016 May 24
		.media
			.title
				a(href='//bbc.co.uk/programmes/p03tzbxn') Google Plans AI For Your Home
			aside 6:30 to 12:05
			.author Rory Cellan-Jones
			.publication Tech Tent, BBC World Service
			time 2016 May 20
		.media
			.title
				a(href='//techinsider.io/futurist-economist-predicts-permanent-slowdown-within-one-million-years-2016-4') Futurist economist predicts permanent slowdown within one million years
			.author Gus Lubin
			.publication Tech Insider
			time 2016 Apr 30
		.media
			.title
				a(href='//economicrockstar.com/robinhanson') Robin Hanson on The Age of Em and How Brain Emulations Will Double Economic Growth Every Month
			.author Frank Conway
			.publication Economic Rockstar podcast
			time 2016 Feb 18
		.media
			.title
				a(href='//afterdarkradioshow.com/podcast/after-dark-radio-125-the-future-with-robin-hanson') The Future with Robin Hanson
			.author Bryan Alvarez
			.publication After Dark Radio
			time 2016 Jan 25
		.media
			.title
				a(href='//splicetoday.com/digital/hanson-emmmbot') Hanson: EmmmBot
			.author Todd Seavey
			.publication Splice Today
			time 2016 Jan 11
		.media
			.title
				a(href='//www.ozy.com/fast-forward/special-series-what-if-the-rapture-of-the-nerds-brings-marxs-revolution/65246') What If the Rapture of the Nerds Brings Marx's Revolution?
			.author Sanjena Sathianjan
			.publication OZY
			time 2016 Jan 6
		.media
			.title
				a(href='//oaklandfuturist.com/the-robot-lord-scenario/#sthash.0H66jjdz.0ojjGCHk.dpbs') The Robot Lord Scenario
			.author Scott Jackisch
			.publication The Oakland Futurist
			time 2015 Jun 20
		.media
			.title
				a(href='https://soundcloud.com/the-exchange-cjad/the-exchange-feb-25-with-matt') Interview With Robin Hanson on Artificial Intelligence
				aside link down
			.author Matt Gurney
			.publication The Exchange CJAD 800 Radio, Montreal
			time 2014 Feb 25
			aside see 29:00 to 37:00
		.media
			.title
				a(href='//io9.com/what-will-life-be-like-when-digital-brains-outnumber-hu-1529764158') What will life be like when digital brains outnumber humans?
			.author George Dvorsky
			.publication IO9
			time 2014 Feb 24
		.media
			.title
				a(href='//radio.seti.org/blog/2013/06/big-picture-science-meet-your-replacements-robin-hanson/') Meet Your Replacements: Robin Hanson
			.author Gary Niederhoff
			.publication Big Picture Science Radio Show
			time 2013 June 29
