extends _layout
block head
	title Media about The Age of Em
	link(rel='stylesheet' href='style/media.css')
block content
	section
		header Media about The Age of Em

		.media
			.title
				a(href='//economicrockstar.com/robinhanson') Robin Hanson on The Age of Em and How Brain Emulations Will Double Economic Growth Every Month
			.author Frank Conway
			.publication Economic Rockstar podcast
			time 2016 Feb 18
		.media
			.title
				a(href='//www.ozy.com/fast-forward/special-series-what-if-the-rapture-of-the-nerds-brings-marxs-revolution/65246') What If the Rapture of the Nerds Brings Marx's Revolution?
			.author Sanjena Sathianjan
			.publication OZY
			time 2016 Jan 6
		.media
			.title
				a(href='//oaklandfuturist.com/the-robot-lord-scenario/#sthash.0H66jjdz.0ojjGCHk.dpbs') The Robot Lord Scenario
			.author Scott Jackisch
			.publication The Oakland Futurist
			time 2015 Jun 20
		.media
			.title
				a(href='https://soundcloud.com/the-exchange-cjad/the-exchange-feb-25-with-matt') Interview With Robin Hanson on Artificial Intelligence
				aside link down
			.author Matt Gurney
			.publication The Exchange CJAD 800 Radio, Montreal
			time 2014 Feb 25
			aside see 29:00 to 37:00
		.media
			.title
				a(href='//io9.com/what-will-life-be-like-when-digital-brains-outnumber-hu-1529764158') What will life be like when digital brains outnumber humans?
			.author George Dvorsky
			.publication IO9
			time 2014 Feb 24
		.media
			.title
				a(href='//radio.seti.org/blog/2013/06/big-picture-science-meet-your-replacements-robin-hanson/') Meet Your Replacements: Robin Hanson
			.author Gary Niederhoff
			.publication Big Picture Science Radio Show
			time 2013 June 29
