extends _layout
include _common-reviews
block head
	title Reviews about The Age of Em
	link(rel='stylesheet' href='style/reviews.css')
block content
	section
		header Reviews
		.review
			quote
				a(href='//postlibertarian.com/2016/09/28/the-age-of-em') It’s perhaps the strangest book you’ve ever heard of. … This book really does make you think about the world in a different way. … It even makes you question what it means to be human.
			.who Michael
			.publication Postlibertarian
			time 2016 Sep 28
		.review
			quote
				a(href='//futureoflife.org/2016/09/28/age-of-em-review') For a book without a plot or characters, it offers a surprisingly engaging and compelling storyline. … Hanson’s book and his approach to thinking about the future are extremely important for anyone who wants to have a say in the future of humanity.
			.who Ariel Conn
			.publication Future of Life Institute
			time 2016 Sep 28
		.review
			quote
				a(href='//concatenation.org/nfrev/hanson_age.html') A highly speculative, possibly over ambitious, but nonetheless fascinating 'thought exercise’ … New concepts or implications explored on nearly every page.
			.who Jonathan Cowie
			.publication Science Fact & Science Fiction Concatenation
			time 2016 Sep 14
		.review
			quote
				a(href='//popmatters.com/review/the-age-of-em-by-robin-hanson-no-need-of-humans') A mash-up of robotics and social theory, The Age of Em is a comprehensive treatise … This tomorrow, as envisioned by Hanson, `weird' as it is, is rich with meaty data.
			.who Alakananda Mookerjee
			.publication Pop Matters
			time 2016 Sep 13
		.review
			quote.
				An interdisciplinary thought experiment … The sheer amount of detail … really allows readers to engage with these scenarios and reflect back on our current situation.
			.who David Lorimer
			.publication Books in brief, Network Review, No. 121, pp. 62-63
			time Summer 2016
		.review
			quote
				a(href='//ricochet.com/saturday-night-science-the-age-of-em') A challenging and often disturbing look at a possible future … simultaneously breathtaking and tedious. … For all its strangeness, the book amply rewards the effort you’ll invest in reading it. It limns a world as different from our own as any portrayed in science fiction, yet one which is a plausible future that may come to pass in the next century, and is entirely consistent with what we know of science.
			.who John Walker
			.publication Saturday Night Science
			time 2016 Sep 10
		.review
			quote
				a(href='//aaiforesight.com/newsletter/science-fiction-science-factualized-star-trek-50-economics-singularity-and-more') #[i The Age of Em] is imaginative and provides a thought-provoking discussion of the social implications of an em economy.
			.who Randall Mayes
			.publication A Singularity Economy — If Uploads Come First, AAI Foresight Signals
			time 2016 Sep 8
		.review
			quote
				a(href='//blog.computationalcomplexity.org/2016/08/robin-hansons-ems.html') Not sure it is a world I'd like to be a part of, but it's a fascinating world nevertheless.
			.who Lance Fortnow
			.publication Computational Complexity
			time 2016 Aug 11
		.review
			quote
				a(href='//calumchace.wordpress.com/book-and-movie-reviews') A fascinating and engaging book, containing much to enjoyably disagree with.
			.who Calum Chace
			.publication Pandora’s Brain
			time 2016 July 25
		.review
			quote
				a(href='//geoff.greer.fm/2016/07/23/age-of-em') Fascinating. Two months later, the book’s ideas still pop into my mind daily. Nothing else I’ve read in the past year has done that.
			.who Geoff Greer
			.publication Geoff.Greer.fm
			time 2016 July 23
		.review
			quote
				a(href='//lists.extropy.org/pipermail/extropy-chat/2016-June/088600.html') Overall, the book is a nerdvana for the transhumanist and can be recommended for all who like to think (as opposed to merely feel) about the future.
			.who Rafal Smigrodzki
			.publication Extropy Chat List
			time 2016 June 22
		.review
			quote
				a(href='//turingchurch.com/2016/06/21/paradiso-and-inferno-in-robin-hansons-the-age-of-em') All futurists, transhumanists and citizens interested in possible futures radically different from today’s reality should read “The Age of Em.” … I like “The Age of Em” a lot. … Some readers will love the book, some will hate it, but nobody will remain indifferent.
			.who Giulio Prisco
			.publication Turing Church
			time 2016 June 21
		.review
			quote
				a(href='//engtechmag.wordpress.com/2016/06/20/book-review-the-age-of-em-work-love-and-life-when-robots-rule-the-earth-robin-hanson') Hanson’s work is revolutionary, not in what it says, but how it attempts to say it. … once over the peak, the expedition feels more than worthwhile.
			.who Jade Fell
			.publication Engineering and Technology Magazine
			time 2016 June 20
		.review
			quote
				a(href='//crookedtimber.org/2016/06/19/the-age-of-em-wont-happen') I enjoyed the book … enriching our sense of the range of possible futures that might be out there … is the reason I got value from his book.
			.who Henry Farrell
			.publication Crooked Timber
			time 2016 June 19
		+guardian-review()
		+wall-street-journal-review()
		.review
			quote
				a(href='//wimflyc.blogspot.com/2016/06/back-to-school.html') Lots of creative, intelligent people … doing remarkable wonderful things with big expensive toys … but you only got, personally, subsistence wages … What it is like to be an Em is … a graduate student.
			.who Josh Storrs Hall
			.publication Where is my Flying Car?
			time 2016 June 10
		.review
			quote
				a(href='//euvoluntaryexchange.blogspot.com/2016/06/the-em-who-was-thursday_9.html') I'm pleased to see my high expectations exceeded.
			.who Sam Wilson
			.publication Euvoluntary Exchange
			time 2016 June 9
		.review
			quote
				a(href='//popsciencebooks.blogspot.com/2016/06/the-age-of-em-robin-hanson.html') There is no doubt that what Hanson is doing here is truly fascinating. … any science fiction author worth his or her salt should be rushing out and  buying a copy of this book. There are enough ideas here to spark off a thousand stories.
			.who Brian Clegg
			.publication Popular Science
			time 2016 June 7
		.review
			quote
				a(href='//blog.jessriedel.com/2016/06/06/comments-on-hansons-the-age-of-em') I highly recommend it. … His language is always incredibly direct and clear. Hanson is an academic Hemingway.
			.who Jess Riedel
			.publication foreXiv
			time 2016 June 6
		.review
			quote
				a(href='//www.softmachines.org/wordpress/?p=1890') It’s certainly an impressive exercise in world-building, which, with the addition of plot and character, would have the potential to make a spectacular series of novels.
			.who Richard Jones
			.publication Soft Machines
			time 2016 June 5
		.review
			quote
				a(href='//reason.com/archives/2016/06/03/artificial-robot-brains-take-over-the-wo') Move over, humans; the emulations are coming and our world is going to get really weird. That's the premise of the George Mason economist Robin Hanson's fascinating new book.
			.who Ronald Bailey
			.publication Reason
			time 2016 June 3
		.review
			quote
				a(href='//aleph.se/andart2/reviews/review-of-robin-hansons-the-age-of-em') The Age of Em is bound to be a classic. … it is a gap in the mist clouds covering the future.
			.who Anders Sandberg
			.publication Andart II
			time 2016 June 2
		.review
			quote
				a(href='//slatestarcodex.com/2016/05/28/book-review-age-of-em') I can’t think of another book of this depth and quality in the same niche. … I highly recommend Age of Em as a fantastically fun read and a great introduction to these concepts. It’s engaging, readable, and weird. I just don’t know if it’s weird enough.
			.who Scott Alexander
			.publication Slate Star Codex
			time 2016 May 28
		.review
			quote
				a(href='//bayesianinvestor.com/blog/index.php/2016/05/24/the-age-of-em') Hanson repeatedly tackles questions that scare away mainstream academics, and gives relatively ordinary answers
			.who Peter McCluskey
			.publication Bayesian Investor Blog
			time 2016 May 24
		.review
			quote
				a(href='//relinquishment.org/2016/05/24/book-review-the-age-of-em') The book [is] a fascinating survey of what we know about humans – think David Brook’s The Social Animal, but through a more removed lens, and with a deeper blend of hard and soft sciences.
			.who Neerav Kingsland
			.publication Relinquishment
			time 2016 May 24
		.review
			quote
				a(href='//profitsofchaos.com/2016/05/22/review-robin-hansons-age-of-em') The pacing is fast, chock-full of interesting ideas to play with … Hanson has done a fantastic job sketching technologically and economically plausible outcomes to the future of humans and near-humans.
			.who Peter St Onge
			.publication Profits of Chaos
			time 2016 May 22
		+financial-times-review()
		.review
			quote
				a(href='//marginalrevolution.com/marginalrevolution/2016/01/the-age-of-em.html') Very often Robin is describing our world in cloaked fashion … [It is] a reminder of how strange everything is. … I am wildly enthusiastic about everything the Robin upload does.
			.who Tyler Cowen
			.publication Marginal Revolution
			time 2016 Jan 26

		header See Also
		p.
			More reviews are available at
			#[a(href='//amazon.com/Age-Em-Work-Robots-Earth/product-reviews/0198754620/ref=cm_cr_dp_see_all_btm?ie=UTF8&showViewpoints=1&sortBy=recent') Amazon] and
			#[a(href='//goodreads.com/book/show/26831944-the-age-of-em?from_search=true&search_version=service#other_reviews') Goodreads].

