extends _layout
block head
	title Reviews about The Age of Em
	link(rel='stylesheet' href='style/reviews.css')
block content
	section
		header Reviews
		.review
			quote
				a(href='//relinquishment.org/2016/05/24/book-review-the-age-of-em') Book Review: The Age of EM
			.who Neerav Kingsland
			.publication Relinquishment
			time 2016 May 24
		.review
			quote
				a(href='//profitsofchaos.com/2016/05/22/review-robin-hansons-age-of-em') Review: Robin Hanson’s Age of Em
			.who Peter St Onge
			.publication Profits of Chaos
			time 2016 May 22
		.review
			quote
				a(href='//next.ft.com/content/aafc21f0-0540-11e6-a70d-4e39ac32c284') Crammed full of such fascinating visions of an imagined future
			.who Sarah O'Connor
			.publication Financial Times
			time 2016 May 9
		.review
			quote
				a(href='//marginalrevolution.com/marginalrevolution/2016/01/the-age-of-em.html') Very often Robin is describing our world in cloaked fashion … [It is] a reminder of how strange everything is. … I am wildly enthusiastic about everything the Robin upload does.
			.who Tyler Cowen
			.publication Marginal Revolution
			time 2016 Jan 26
