extends _layout
block head
	title Talks about The Age of Em
	link(rel='stylesheet' href='style/talks.css')
block content
	section
		header Upcoming Talks
		.talk
			.event
				a(href='//stevens.edu/events/when-robots-rule-earth') Stevens Institute of Technology
			.place New Jersey
			time 2016 Nov 16
		.talk
			.event
				a(href='//gartner.com/events/na/identity-access-management') Gartner’s Identity and Access Management Summit
			.place Las Vegas, NV
			time 2016 Nov 30
		.talk
			.event
				a(href='//envision-conference.com') Envision
			.place Princeton University, Princeton, NJ
			time 2016 Dec 3
		.talk
			.event
				a(href='//ethz.ch/en/the-eth-zurich/global/eth-global-news-events/2016/09/eth-zurich-hosts-the-global-talent-summit.html') Global Talent Summit 2017: The Post Employment World
			.place Zurich, Switzerland
			time 2017 Jan 14
		.talk
			.event
				a(href='//gdi.ch/en/Think-Tank/Conferences/13th-European-Trend-Day/239644_239657_2017031520170315/1') European Trend Day
			.place Zurich, Switzerland
			time 2017 Mar 15
	section
		header Past Talks
		.talk
			.event MITRE
			.place McLean, VA
			time 2016 Nov 4
		.talk
			.event
				a(href='//peter-boettke.com/ppe-workshop') Workshop in Philosophy, Politics, and Economics
			.place George Mason University, Fairfax, VA
			time 2016 Nov 3, 2:30PM
		.talk
			.event
				a(href='//olli.gmu.edu') Osher Lifelong Learning Institute
			.place George Mason University, Fairfax, VA
			time 2016 Nov 3, 9:40AM
		.talk
			.event
				a(href='//eventbrite.com/e/2016-sci-fi-meets-sci-fact-lecture-tickets-26688486983') Arizona State University
			.place Tempe, AZ
			time 2016 Oct 27
		.talk
			.event
				a(href='//www.oxfordmartin.ox.ac.uk/event/2359') Future of Humanity Institute
			.place Oxford, UK
			time 2016 Oct 19
		.talk
			.event
				a(href='//eventbrite.com/e/the-soho-forum-debate-october-17-2016-tickets-26179111427?aff=') Soho Forum Debate
			.place New York, NY
			time 2016 Oct 17
		.talk
			.event
				a(href='//yaleea.com') Yale University Effective Altruists
			.place Yale University, New Haven, Connecticut
			time 2016 Oct 13
		.talk
			.event
				a(href='//internetfestival.it') Internet Festival
			.place Pisa, Italy
			time 2016 Oct 8
		.talk
			.event
				a(href='//fallforthebook.org/2016/05/18/robin-hanson') Fall for the Book
			.place Fairfax, VA
			time 2016 Sep 27, 1:30pm
		.talk
			.event
				a(href='//krasnow1.gmu.edu/cn3/abc_fall16.html') Krasnow Institute
			.place George Mason University, Fairfax, VA
			time 2016 Sep 27, 11am
		.talk
			.event
				a(href='//louisville.edu/speed/computer/seminars') University of Louisville, Department of Computer Science
			.place Louisville, KY
			time 2016 Sep 16
		.talk
			.event
				a(href='//www.cryonics.org/news/the-cryonics-institute-is-pleased-to-welcome-guest-speaker-dr-robin-hanson') 40th Anniversary Cryonics Institute
			.place Detroit, MI
			time 2016 Sep 11
		.talk
			.event
				a(href='//sites.duke.edu/dukeppe/events') PPE Club
			.place Duke University
			time 2016 Sep 6
		.talk
			.event
				a(href='//lesswrong.com/lw/n33/european_community_weekend_2016') Less Wrong European Community Weekend 2016
			.place Berlin
			time 2016 Sep 2-4
		.talk
			.event
				a(href='//shbh-gbs.de/01-09-2016-robin-hanson-the-technological-future-of-mankind') Stiftung für Effektiven Altruismus
			.place Berlin
			time 2016 Sep 1
		.talk
			.event
				a(href='//techpolicyinstitute.org/events/aspen2016') Technology Policy Institute
			.place Aspen Forum, Aspen, CO
			time 2016 Aug 23
		.talk
			.event
				a(href='//worldcon.org') WorldCon
			.place Kansas City, MO
			time 2016 Aug 17-21
		.talk
			.event
				a(href='//noblis.org') Noblis
			.place Falls Church, VA
			time 2016 Aug 16
		.talk
			.event
				a(href='//web.stanford.edu/group/ea/events/2016/08/08/Robin-Hanson.html') Stanford Effective Altruism
			.place Stanford University, Stanford, CA
			time 2016 Aug 8
		.talk
			.event
				a(href='//eaglobal.org/eag') Effective Altruism Global
			.place San Francisco Bay Area
			time 2016 Aug 6-7
		.talk
			.event
				a(href='//oaklandfuturist.com') The Oakland Futurist
			.place Octopus Literary Salon, Oakland, CA
			time 2016 Aug 3
		.talk
			.event
				a(href='//thielcapital.com') Thiel Capital
			.place San Francisco, CA
			time 2016 Aug 3
		.talk
			.event
				a(href='//rethinkdb.com') RethinkDB
			.place Mountain View, CA
			time 2016 Aug 2
		.talk
			.event
				a(href='//google.com/about/careers/locations/mountain-view') Benghazi Tech Talk, Google
			.place Mountain View, CA
			time 2016 Aug 1
		.talk
			.event
				a(href='//prosperitycaucus.org') Prosperity Caucus
			.place Washington, D.C.
			time 2016 July 26
		.talk
			.event
				a(href='//worldfuture2016.org') World Future 2016
			.place Washington, D.C.
			time 2016 July 22-25
		.talk
			.event
				a(href='//themgroupny.co') Brooklyn in The Age of Em
			.place #[a.lighter(href='//nycpaspaces.fracturedatlas.org/organizations/7669') Loft67], 67 Metropolitan Ave, Brooklyn, NY 11249
			time 2016 July 13 7pm
		.talk
			.event
				a(href='//ttivanguard.com/conference/2016/autonomy.html') TTI/Vanguard Conference
			.place Brooklyn, NY
			time 2016 July 12
		.talk
			.event
				a(href='//earthsharing.org/recession-generation') Recession Generation
			.place Oakland, CA
			time 2016 July 9
		.talk
			.event
				a(href='//turingchurch.com/2016/06/08/the-age-of-em-robin-hanson-in-second-life-june-26') Turing Church
			.place Second Life
			time 2016 June 26
		.talk
			.event
				a(href='//cato.org/events') CATO Institute
			.place Washington, D.C.
			time 2016 June 7
		.talk
			.event
				a(href=' //mercatus.org/events') Mercatus Center
			.place Arlington, VA
			time 2016 May 25
		.talk
			.event
				a(href='//industrienationale.fr') Place St Germain des Près
			.place Hotel de l’Industrie, Paris
			time 2016 May 18
		.talk
			.event
				a(href='//facebook.com/events/826823020785323') Jesus College Effective Altruists
			.place Coleridge Room, Jesus College, Cambridge, UK
			time 2016 May 17
		.talk
			.event
				a(href='//tedximperialcollege.org/speakers-2') TEDx Imperial College
			.place London, UK
			time 2016 May 15
		.talk
			.event
				a(href='//mitsloan.mit.edu/ide') IDE Seminar, Business
			.place MIT
			time 2016 May 11
		.talk
			.event
				a(href='//facebook.com/events/1560506034249761') MIT Effective Altruists
			.place MIT, 4-163
			time 2016 May 10, 5pm
		.talk
			.event
				a(href='//cs.cmu.edu/~aiseminar/abstract/16-05-03.html') AI Lunch Seminar
			.place Carnegie Mellon University
			time 2016 May 3
		.talk
			.event
				a(href='//cs.cmu.edu/~aiseminar/abstract/16-05-03.html') PPEL Student Group
			.place Bowling Green State University, Bowling Green, Ohio
			time 2016 Apr 26
		.talk
			.event
				a(href='//thebigquestions.com/2016/04/14/robin-hanson') Lawrence Goldberg Memorial Lecture, Dewey 1-101
			.place University of Rochester, Rochester, NY
			time 2016 Apr 18
		.talk
			.event
				a(href='http://www.law.gmu.edu/faculty/workshop') George Mason University Law School
			.place Arlington, VA
			time 2016 Mar 31
		.talk
			.event
				a(href='//2016.ikzirve.com') Boğaziçi University Human Resources Summit
			.place Boğaziçi, Turkey
			time 2016 Mar 25
		.talk
			.event
				a(href='//roundtown.com/event/11361922/Future-of-Finance-2016-Oxford-GB') Future of Finance
			.place Oxford, UK
			time 2016 Mar 22
		.talk
			.event
				a(href='//adamsmith.org/events/a-lecture-with-robin-hanson/') Adam Smith Institute
			.place London
			time 2016 Mar 21
		.talk
			.event
				a(href='//meetup.com/thalesians/events/227552188') The Thalesians
			.place London
			time 2016 Mar 21, 7:30pm
			aside £15 fee
		.talk
			.event
				a(href='//meetup.com/London-Futurists/events/227540366') London Futurists
			.place Birkbeck College, London
			time 2016 Mar 19, 2pm
			aside £5 fee
		.talk
			.event
				a(href='//farpointcon.com') Farpoint SF convention
			.place Hunt Valley, MD
			time 2016 Feb 13, 1pm
		.talk
			.event
				a(href='//palackborbar.hu') The Thalesians
			.place Budapest
			time 2016 Jan 29, 7pm
		.talk
			.event
				a(href='//nycjunto.org') Junto
			.place New York, NY
			time 2016 Jan 7
		.talk
			.event
				a(href='//meetup.com/BLKNY30/events/226974953') Brooklyn Futurist Meetup
			.place Brooklyn, NY
			time 2016 Jan 6, 7pm
			aside $5.50 fee
		.talk
			.event
				a(href='//www.auc.nl/news-events/events-and-lectures/upcoming-events-and-lectures/item/robin-hanson.html') Amsterdam University College
			time 2015 Nov 24
		.talk
			.event
				a(href='//www.cioday.nl') CIO Day
			.place Beurs van Berlage, Amsterdam
			time 2015 Nov 23
		.talk
			.event Dubai Government Excellence Program
			.place Dubai
			time 2015 Nov 2
		.talk
			.event Microsoft Research
			.place New York, NY
			time 2015 July 28
		.talk
			.event Building the New World Conference
			.place Redford University, VA
			time 2015 May 29
		.talk
			.event DE Shaw
			.place New York, NY
			time 2015 May 19
		.talk
			.event INSTED festival
			.place Los Angeles
			time 2015 May 1
		.talk
			.event GMU Economics
			.place George Mason University, Fairfax, VA
			time 2014 Oct 15
		.talk
			.event Future of Humanity Institute
			.place Oxford University, Oxford, United Kingdom
			time 2014 Sep 13
		.talk
			.event Technology & Ethics seminar
			.place Yale, New Haven, CT
			time 2014 May 22
		.talk
			.event Reading day, Wood Creek Capital Management
			.place New Haven, CT
			time 2014 May 21
		.talk
			.event DC Philosophy Cafe
			.place Washington, D.C.
			time 2014 Feb 9
		.talk
			.event NYU Abu Dhabi Economics Seminar
			.place Abu Dhabi
			time 2013 Dec 5
		.talk
			.event NYU Abu Dhabi Engineering Seminar
			.place Abu Dhabi
			time 2013 Dec 4
		.talk
			.event TEDx
			.place Tallinn, Estonia
			time 2013 May 3
		.talk
			.event Harvard Future Society
			.place Boston, MA
			time 2013 Apr 20
		.talk
			.event Harvard Business School
			aside Digital Seminar
			.place Boston, MA
			time 2013 Apr 18
		.talk
			.event Quixey
			.place Mountain View, CA
			time 2013 Apr 4
		.talk
			.event Eaton Vance Investment Managers
			.place Washington, D.C.
			time 2013 Feb 28
		.talk
			.event DC Less Wrong Club
			.place Washington, D.C.
			time 2013 Jan 6
		.talk
			.event London Futurists Society
			.place London, UK
			time 2012 Dec 15
		.talk
			.event AGI Impacts Conference
			.place Oxford, UK
			time 2012 Dec 11
		.talk
			.event Cosmos Club
			.place Philosophical Society of Washington, D.C.
			time 2012 Dec 7
		.talk
			.event Singularity Summit
			.place San Francisco, CA
			time 2012 Oct 14
		.talk
			.event CMU Less Wrong Club
			.place Carnegie Mellon University, Pittsburgh, PA
			time 2012 Oct 2
		.talk
			.event GMU Economics Club
			.place George Mason University, Fairfax, VA
			time 2012 Sept 26
		.talk
			.event Martin Programme on Impacts of Future
			.place Oxford, UK
			time 2012 June 20
		.talk
			.event Future Friday Seminar
			.place Halcyon Molecular, CA
			time 2012 Apr 6
		.talk
			.event Training Course on Artificial Intelligence and Global Security
			.place Geneva Centre for Security Policy, Geneva
			time 2011 May 6
		.talk
			.event Foresight Conference
			.place Palo Alto, CA
			time 2010 Jan 17
		.talk
			.event Econ Honor Society
			.place Georgetown University, Washington, D.C.
			time 2009 Oct 26
		.talk
			.event Artificial General Intelligence Workshop
			.place Arlington, VA
			time 2009 Mar 9
		.talk
			.event Strategic Studies Group
			.place Naval War College, Newport, Rhode Island
			time 2008 Oct 17
		.talk
			.event Whole Brain Emulation Workshop
			.place Oxford, England
			time 2007 May 26
		.talk
			.event Bioethics group
			.place Yale, New Haven, CT
			time 2002 Sept 25
		.talk
			.event
				a(href='//nycjunto.org') Junto
			.place New York, NY
			time 2001 Nov 1
		.talk
			.event Southern Economic Association meeting
			.place Washington, D.C.
			time 2000 Nov 12
