border-radius-bottom(val)
	border-bottom-left-radius val
	border-bottom-right-radius val

font-name-head = Prata
font-head()
	font-family font-name-head

font-name-text = Vollkorn
font-text()
	font-family font-name-text

font-name-quote = Simonetta
font-quote()
	font-family font-name-quote

font-names = font-name-head + '|' + font-name-text + '|' + font-name-quote
