@require '_lib'

.talk
	margin 1em 0

	.event
		font-head()
		display inline-block

	.place
		display inline-block
		color #8

		&::before
			content ", "

	time
		display block
		color #4

a.lighter
	color #88f
