@require '_lib'

.talk
	margin 1em 0

	.title
		font-head()
	.event
		display inline-block
		margin-right 0.5em
		color #8
		&::after
			content ","

		a
			color #66c

	.place
		display inline-block
		color #8
	time
		display block
		color #4
