@require 'assets/style/lib'

.talk
	margin 1em 0

	.title
		font-head()
	.event
		display inline-block
		color #8
		&::after
			content ","

		a
			color #66c

	.place
		margin-left 0.5em
		display inline-block
		color #8
	time
		display block
		color #4
