extends layout
block head
	title Articles about The Age of Em
	link(rel='stylesheet' type='text/css' href='style/articles.css')
block content
	section
		.article
			a.title(href='http://hanson.gmu.edu/uploads.html').
				If Uploads Come First
			.publisher Extropy 6:2
				.pages 10-15
			time 1994
			div The book is an elaboration of this article.

		.article
			a.title(href='http://anglejournal.com/article/2015-06-brain-emulation-economies-the-next-stage-of-human-development/').
				The "Em" Economy: Imagine a future dominated by brain emulation robots
			.publisher Angle Journal 13
			time 2015 June 22

		.article
			a.title(href='http://hanson.gmu.edu/GoertzelBookChapter.pdf').
				A Tale Of Two Transitions, in The End of the Beginning: Life, Society and Economy on the Brink of the Singularity
			.publisher Humanity+ Press
				.pages 70-80
			.editor Ben Goertzel, Ted Goertzel
			time 2015 May 15

		.article
			a.title(href='http://hanson.gmu.edu/IntelligenceUnbound.pdf').
				What Will It Be Like To Be An Emulation?
			.publisher Intelligence Unbound: The Future of Uploaded and Machine Minds, Wiley
				.pages 298-309
			.editor Russell Blackford, Damien Broderick
			time 2014 Aug 18

		.article
			a.title(href='http://hanson.gmu.edu/Futurist.pdf').
				When the Economy Transcends Humanity
			.publisher The Futurist
			time 2014 Jan-Feb

		.article
			a.title(href='http://hanson.gmu.edu/EconOfBrainEmulations.pdf').
				Economics of Brain Emulations, Unnatrual Selection — The Challenges of Engineering Tomorrow's People
			.publisher EarthScan, London
				.pages 150-158
			.editor Peter Healey and Steve Rayner
			time 2008 Dec

		.article
			a.title(href='http://hanson.gmu.edu/IEEESpectrum-6-08.pdf').
				Economics of the Singularity
			.publisher IEEE Spectrum
				.pages 37-42
			time 2008 June
			aside Reprinted as: A New World Order, Cosmos 26:47-54, 2009 Apr/May.

		.article
			a.title(href='http://hanson.gmu.edu/bigthing.pdf').
				The Next Really Big Enormous Thing
			.publisher Future Brief
			time 2004 Oct 6
