doctype html
head
	meta(charset='utf-8')
	meta(name='description'
		content='The Age of Em by Robin Hanson: the first truly smart robots will be brain emulations b ems.')
	link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
	link(rel='stylesheet' href='style/layout.css')
	block head
body
	header
		nav
			a(href='/') home
			a(href='./talks.html') talks
			a(href='./articles.html') articles
			a(href='https://www.facebook.com/robin.hanson.754')
				i(class='fa fa-facebook-official')
			a(href='https://twitter.com/robinhanson')
				i(class='fa fa-twitter-square')
	main
		block content
