extends layout
block head
	title Talks about The Age of Em
	link(rel='stylesheet' type='text/css' href='style/talks.css')
block content
	section
		header Upcoming Talks
		.talk
			.title How Happy Are Future Robots?
			.event Dubai Government Excellence Program
			.place Dubai
			time 2015 Nov 2
		.talk
			.title The Age of Em
			.event
				a(href='http://nycjunto.org') Junto
			.place New York, NY
			time 2016 Jan 7
		.talk
			.title The Age of Em
			.event Future of Finance
			.place Oxford, UK
			time 2016 Mar 22

	section
		header Past Talks
		.talk
			.title The Age of Em
			.event Microsoft Research
			.place New York, NY
			time 2015 July 28
		.talk
			.title When Men Become Machines
			.event Building the New World Conference
			.place Redford University, VA
			time 2015 May 29
		.talk
			.title The Age of Em
			.event DE Shaw
			.place New York, NY
			time 2015 May 19
		.talk
			.title The Age of Em
			.event INSTED festival
			.place Los Angeles
			time 2015 May 1
		.talk
			.title Social Implications of Brain Emulations
			.event GMU Economics
			.place George Mason University, VA
			time 2014 Oct 15
		.talk
			.title Em Econ
			.event Future of Humanity Institute
			.place Oxford University, Oxford, United Kingdom
			time 2014 Sep 13
		.talk
			.title The Age Of Em
			.event Technology & Ethics seminar
			.place Yale, New Haven, CT
			time 2014 May 22
		.talk
			.title Em Econ
			.event Reading day, Wood Creek Capital Management
			.place New Haven, CT
			time 2014 May 21
		.talk
			.title Economics of Whole Brain Emulation
			.event DC Philosophy Cafe
			.place Washington DC
			time 2014 Feb 9
		.talk
			.title The Age of Em: Imagining A Future of Emulated Minds
			.event NYU Abu Dhabi Economics Seminar
			.place Abu Dhabi
			time 2013 Dec 5
		.talk
			.title The Age of Em: Imagining A Future of Emulated Minds
			.event NYU Abu Dhabi Engineering Seminar
			.place Abu Dhabi
			time 2013 Dec 4
		.talk
			.title Em Econ 101, The Next Great Era: Envisioning A Robot Society
			.event TEDx
			.place Tallinn, Estonia
			time 2013 May 3
		.talk
			.title Em Discussion
			.event Harvard Future Society
			.place Boston, MA
			time 2013 Apr 20
		.talk
			.title Em Econ 101: Sketching A Society Of Emulated Minds
			aside Digital Seminar
			.event Harvard Business School
			.place Boston, MA
			time 2013 Apr 18
		.talk
			.title After The Dreamtime
			.event Quixey
			.place Mountain View, CA
			time 2013 Apr 4
		.talk
			.title Em Econ
			.event Eaton Vance Investment Managers
			.place Washington, DC
			time 2013 Feb 28
		.talk
			.title Em Econ
			.event DC Less Wrong Club
			.place Washington, DC
			time 2013 Jan 6
		.talk
			.title An Economic Analysis of Brain Emulations
			.event London Futurists Society
			.place London, UK
			time 2012 Dec 15
		.talk
			.title Em Econ 101, An Economic Analysis of Whole Brain Emulation
			.event AGI Impacts Conference
			.place Oxford, UK
			time 2012 Dec 11
		.talk
			.title Whole Brain Emulation: Envisioning Economies And Societies of Emulated Minds
			.event Cosmos Club
			.place Philosophical Society of Washington, D.C.
			time 2012 Dec 7
		.talk
			.title Em Econ 101
			.event Singularity Summit
			.place San Francisco, CA
			time 2012 Oct 14
		.talk
			.title Em Econ 101
			.event CMU Less Wrong Club
			.place Carnegie Mellon University, Pittsburgh, PA
			time 2012 Oct 2
		.talk
			.title Em Econ 101
			.event GMU Economics Club
			.place George Mason University, Fairfax, VA
			time 2012 Sept 26
		.talk
			.title Em Econ 101: The socio-economic impacts of emulation
			.event Martin Programme on Impacts of Future
			.place Oxford, UK
			time 2012 June 20
		.talk
			.title Em Econ 101
			.event Future Friday Seminar
			.place Halcyon Molecular, CA
			time 2012 Apr 6
		.talk
			.title Economic Implications of A.I.
			.event Training Course on Artificial Intelligence and Global Security
			.place Geneva Centre for Security Policy, Geneva
			time 2011 May 6
		.talk
			.title Economics of Nanotech and AI
			.event Foresight Conference
			.place Palo Alto, CA
			time 2010 Jan 17
		.talk
			.title Long History of Economic Growth
			.event Econ Honor Society
			.place Georgetown University, Washington, D.C.
			time 2009 Oct 26
		.talk
			.title Economics of Artificial Intelligence
			.event Artificial General Intelligence Workshop
			.place Arlington, VA
			time 2009 Mar 9
		.talk
			.title The Singularity and Whole Brain Emulation
			.event Strategic Studies Group
			.place Naval War College, Newport, Rhode Island
			time 2008 Oct 17
		.talk
			.title Forecasting Social Implications of Emulation
			.event Whole Brain Emulation Workshop
			.place Oxford, England
			time 2007 May 26
		.talk
			.title Economics and Ethics of Computer-Simulated People
			.event Bioethics group
			.place Yale, New Haven, CT
			time 2002 Sept 25
		.talk
			.title The Next Really Big Enormous Thing
			.event
				a(href='http://nycjunto.org') Junto
			.place New York, NY
			time 2001 Nov 1
		.talk
			.title Long-Term Growth as a Sequence of Exponential Modes
			.event Southern Economic Association meeting
			.place Washington, D.C.
			time 2000 Nov 12
